#menu {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 20;
    font-weight: 600;
    #dragRegion {
        height: 100%;
        width: 800px;
        background-color: transparent;
        float: left;
        -webkit-app-region: drag;
    }
    #logo {
        background-image: url(../../favicon.png);
        float: left;
        width: 81px;
        height: 36px;
        margin-top: 7px;
        margin-left: 55px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #navigate {
        z-index: 21;
        float: left;
        padding-top: 16.5px;
        #codes {
            float: left;
            margin-left: 30px;
        }
        #map {
            float: left;
            margin-left: 20px;
    
        }
    }
    #window-controls {
        float: right;
        padding: 14px 25px 0px 0px;
        .button {
            float: right;
            border-radius: 100%;
            width: 20px;
            margin-left: 10px;
            padding: 10px;
            height: 20px;
            background: red;
        }
        #close-button {
            background-color: red;
            &:hover {
                background-color: rgb(163, 0, 0);
            }
        }
        #min-button {
            background-color: grey;
            &:hover {
                background-color: rgb(88, 88, 88);
            }
        }
    }
}
