$mainColor: #3cccf9;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a#link-veiw{
    color: white;
}
a#link-veiw::before{
        display: inline-block;
        content: "";
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center;
        background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');* {
    font-family: 'STIX Two Text', serif;

    padding: 0;
    margin: 0;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/j6RqYN3/image-1.png);
    background-repeat: no-repeat;
    background-color: black;
    #charPresent {
        z-index: -1;
        position: fixed;
        left: -100%;
        float: left;
        width: 800px;
        height: 100%;
        background-image: url(https://uploadstatic-sea.mihoyo.com/contentweb/20200903/2020090319230398794.png);
        background-size: cover;
        background-position: 80%;
    }
    #userNavigator {
        margin-right: 50px;
        width: 477px;
        float: right;
        margin-top: 100px;
        border-radius: 25px;
        p {
            padding-left: 30px;
            padding-top:15px;
        }
        #update {
            border-radius: 10px;
            float: right;
            padding-top:10px;
            background: url(https://i.ibb.co/4Thmgt5/Rectangle-3.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 477px;
            height: 132px;
            cursor: pointer;
        }
        .buttons {
            float: left;
            margin-top:10px;
            border-radius: 10px;
            width: 227px;
            height: 48px;
            background-color: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(4px);
            cursor: pointer;
        }      
        #characters {
            background-image: url(https://i.ibb.co/mqqZLMQ/image-4.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        #reward {  
            background-image: url(https://i.ibb.co/2WWbdgG/image-5.png);
            float: right;
            background-repeat: no-repeat;
            background-size: 150px;
            background-position: 110%;
        }
        #map {
            float: left;
            margin-top: 10px;
            width: 477px;
            height: 150px;
            background-image: url(https://i.ibb.co/q9yw6zn/Rectangle-8.png);
            background-size: cover;
            cursor: pointer;
        }
        #code {
            float : left;
            margin-top: 10px;
            width: 477px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.8);
            font-size: 32px;
            p {
                padding: 7px;
                text-align: center;
                font-weight: 700;

            }
        }
        #play {
            float: right;
            border-radius: 10px;
            margin-top: 10px;
            width: 477px;
            height:100px;
            background-color: #00A3FF;
            cursor: pointer;
            p {
                font-size: 48px;
                padding: 20px;
                text-align: center;
                font-weight: 700;
            }
        }
    }
    #footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.8);
        p {
            padding: 5px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 10px;
            font-weight: 400;
        }

    }
}
